<link href="@Url.Content("~/Content/Clothing.css")" rel="stylesheet" type="text/css" />

<div class="optionsBtn">

    <button onclick="location.href='@Url.Action("GetAllPants","Pants")'">All Pants</button>
    <button onclick="location.href='@Url.Action("GetManagerTable","Pants")'">Manager Table</button>
    <button onclick="location.href='@Url.Action("GetLongPants","Pants")'">Long Pants</button>
    <button onclick="location.href='@Url.Action("GetShortPants","Pants")'">Short Pants</button>
    <button onclick="location.href='@Url.Action("GetDryfitPants","Pants")'">Dryfit Pants</button>
    <button onclick="location.href='@Url.Action("GetOrderByPrice","Pants")'">Sorted By Price</button>


</div>

<h1>All Pants:</h1>


<div class="cardContainer">

    @foreach (var cloth in Model)
    {
        <div class="cards">
            <img src="@cloth.Picture" class="clothImage" />
            <h4><b>@cloth.Company</b></h4>
            <p>@cloth.Brand</p>
            <p>@cloth.Price$</p>
        </div>
    }
</div>




